*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.forms{
    display: flex;
    flex-direction: column;
    width: 400px;
}

input{
    padding: 5px;
    border-radius: 15px;
}